.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}
.delay-1 {
    animation-delay: 1s;
}
.delay-3 {
    animation-delay: 3s;
}
.delay-6 {
    animation-delay: 6s;
}
.delay-9 {
    animation-delay: 9s;
}


@keyframes fadeInDown {
    from {
        transform: translate3d(0,0,0)
    }

    to {
        transform: translate3d(0,40px,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInDown {
    from {
        transform: translate3d(0,0,0)
    }

    to {
        transform: translate3d(0,40px,0);
        opacity: 1
    }
}
.animatedFadeInDown {
    opacity: 0
}
.fadeInDown {
    opacity: 0;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    margin-top: 7vh;
}