.page {
    background: #F1F3F7;
    min-height: 100vh;
    font-size: 0.9em;
    
    /* Disable select */
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.navbar {
    background: #092E3B;
    color: white;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
}
.user-circle {
    height: 3em;
    width: 3em;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #092E3B;
    font-weight: bold;
    font-size: 1.2em;
}

.container {
    padding: 3em 4em;
    height: 100%;
    display: inline-block;
}